{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "."
        ],
        "alias": {
          "@components": "./components",
          "@pages": "./pages",
          "@public": "./public",
          "@styles": "./styles",
          "@configJWT": "./configJWT"
        }
      }
    ]
  ]
}